########## Linux ##########

*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

########## Custom ##########


_out/*

input.test
input1.test
input2.test
input3.test
input.json
input1.json
input2.json
input_small.json
input1_small.json
input2_small.json